<section class="container section-container shadow-sm">
  <!-- Header -->
  <article class="row section-header section-border">
    <div class="col-sm-6">
      <p class="section-info">Universitate:
        <span class="section-info-value">
          Universitatea Tehnica "Gh. Asachi" Iasi
        </span>
      </p>
    </div>
    <div class="col-sm-6 text-right">
      <p class="section-info">Facultate:
        <span class="section-info-value">
          Automatica si Calculatoare
        </span>
      </p>
    </div>
  </article>

  <!-- Page Controls -->
  <article class="row section-border">
    <div class="col-sm-12">
      <grd-student-controls
      [yearOfStudy]="yearOfStudy"
      [semester]="semester"
      (changeFilter)="onFilterChange($event)"></grd-student-controls>
    </div>
  </article>

  <!-- Content -->
  <article class="row section-padding mb-5">
    <div class="col-sm-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

        <!-- Subject Code Column -->
        <ng-container matColumnDef="subjectCode">
          <th mat-header-cell *matHeaderCellDef> Cod Materie </th>
          <td mat-cell *matCellDef="let element"> {{ element.acronym }} </td>
        </ng-container>

        <!-- Subject Name Column -->
        <ng-container matColumnDef="subjectName">
          <th mat-header-cell *matHeaderCellDef> Nume Materie </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Laboratory Grade Column -->
        <ng-container matColumnDef="gradeLaboratory">
          <th mat-header-cell *matHeaderCellDef> Nota Laborator </th>
          <td mat-cell *matCellDef="let element"> {{ element.gradeLaboratory ? element.gradeLaboratory : '-' }} </td>
        </ng-container>

        <!-- Project Grade Column -->
        <ng-container matColumnDef="gradeProject">
          <th mat-header-cell *matHeaderCellDef> Nota Proiect </th>
          <td mat-cell *matCellDef="let element"> {{ element.gradeProject ? element.gradeProject : '-' }} </td>
        </ng-container>

        <!-- Exam Grade Column -->
        <ng-container matColumnDef="gradeExam">
          <th mat-header-cell *matHeaderCellDef> Nota Examen </th>
          <td mat-cell *matCellDef="let element"> {{ element.gradeExam ? element.gradeExam : '-' }} </td>
        </ng-container>

        <!-- Final Grade Column -->
        <ng-container matColumnDef="gradeFinal">
          <th mat-header-cell *matHeaderCellDef> Nota Finala </th>
          <td mat-cell *matCellDef="let element"> {{ element.gradeFinal ? element.gradeFinal : '-' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </article>
</section>
