<!-- Page Controls -->
<article class="row section-border">
  <div class="col-sm-12">
    <grd-admin-controls
      [adminView]="AdminView.SUBJECT"
      (yearOfStudyEvent)="onYearOfStudyUpdate($event)"
      (semesterEvent)="onSemesterUpdate($event)">
    </grd-admin-controls>
  </div>
</article>

<!-- Admin -- Students Table -->
<article class="row section-padding mb-5">
  <div class="col-sm-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nume Materie </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Acronym Column -->
      <ng-container matColumnDef="acronym">
        <th mat-header-cell *matHeaderCellDef> Acronim </th>
        <td mat-cell *matCellDef="let element"> {{element.acronym}} </td>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> An </th>
        <td mat-cell *matCellDef="let element"> {{element.yearOfStudy}} </td>
      </ng-container>

      <!-- Semester Column -->
      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semestru </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
      </ng-container>

      <!-- Professor Name Column -->
      <ng-container matColumnDef="professors">
        <th mat-header-cell *matHeaderCellDef> Profesor </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let professor of element.professors; let i = index">
            <span>{{professor.firstName}} {{professor.lastName}}</span>
            <span *ngIf="!(i === (element.professors.length - 1))">, </span>
          </ng-container>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="editSubject(element.id)">Edit</button>
          <button mat-button color="warn" (click)="removeSubject(element.id)">Sterge</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</article>
