<section class="container section-container shadow-sm mb-4">
  <!-- Header -->
  <article class="row section-header section-border">
    <div class="col-sm-6">
      <p class="section-info">Universitate:
        <span class="section-info-value">
          Universitatea Tehnica "Gh. Asachi" Iasi
        </span>
      </p>
    </div>
    <div class="col-sm-6 text-right">
      <p class="section-info">Facultate:
        <span class="section-info-value">
          Automatica si Calculatoare
        </span>
      </p>
    </div>
  </article>

  <!-- Back Button -->
  <article class="row section-padding section-border mb-4">
    <div class="col-sm-12">
      <button mat-stroked-button color="accent" class="mb-3" [routerLink]="['/profesor']">
        <mat-icon aria-hidden="false" aria-label="add grade">chevron_left</mat-icon>
        <span>Back</span>
      </button>
    </div>
  </article>

  <!-- Subject && Student -->
  <article class="row section-padding section-border mb-4">
    <div class="col-sm-12">

      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <mat-label>Materia</mat-label>
            <mat-select [(ngModel)]="subjectSelected" (selectionChange)="changeSubject()">
              <mat-option *ngFor="let subject of subjectList" [value]="subject">
                {{ subject.acronym }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <mat-label>Studentul</mat-label>
            <mat-select [(ngModel)]="studentSelected" (selectionChange)="changeStudent()">
              <mat-option *ngFor="let student of studentList" [value]="student">
                {{ student.lastName }} {{ student.firstName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>
  </article>

  <!-- Grades -->
  <article class="row section-padding section-border pb-2 mb-4">
    <form class="col-sm-12" [formGroup]="form">

      <!-- Laboratory Grade -->
      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <input matInput type="text" placeholder="Nota Laborator" formControlName="gradeLaboratory">
          </mat-form-field>
          <article *ngIf="form.invalid" class="error">
            <small *ngIf="form.controls['gradeLaboratory'].errors?.max" class="d-block">
              Valoarea maxima este 10.</small>
            <small *ngIf="form.controls['gradeLaboratory'].errors?.min" class="d-block">
              Valoarea minima este 1.</small>
            <small *ngIf="form.controls['gradeLaboratory'].errors?.pattern" class="d-block">
              Pot fi introduse doar cifre.</small>
          </article>
        </div>
      </div>

      <mat-divider class="pb-1 mb-3"></mat-divider>

      <!-- Proiject Grade -->
      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <input matInput type="text" placeholder="Nota Proiect" formControlName="gradeProject">
          </mat-form-field>
          <article *ngIf="form.invalid" class="error">
            <small *ngIf="form.controls['gradeProject'].errors?.max" class="d-block">
              Valoarea maxima este 10.</small>
            <small *ngIf="form.controls['gradeProject'].errors?.min" class="d-block">
              Valoarea minima este 1.</small>
            <small *ngIf="form.controls['gradeProject'].errors?.pattern" class="d-block">
              Pot fi introduse doar cifre.</small>
          </article>
        </div>
      </div>

      <mat-divider class="pb-1 mb-3"></mat-divider>

      <!-- Exam Grade -->
      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <input matInput type="text" placeholder="Nota Exmen" formControlName="gradeExam">
          </mat-form-field>
          <article *ngIf="form.invalid" class="error">
            <small *ngIf="form.controls['gradeExam'].errors?.max" class="d-block">
              Valoarea maxima este 10.</small>
            <small *ngIf="form.controls['gradeExam'].errors?.min" class="d-block">
              Valoarea minima este 1.</small>
            <small *ngIf="form.controls['gradeExam'].errors?.pattern" class="d-block">
              Pot fi introduse doar cifre.</small>
          </article>
        </div>
      </div>


      <mat-divider class="pb-1 mb-3"></mat-divider>

      <!-- Final Grade -->
      <div class="row mb-2">
        <div class="col-sm-4 col-md-3">
          <mat-form-field>
            <input matInput type="text" placeholder="Nota Finala" formControlName="gradeFinal">
          </mat-form-field>
          <article *ngIf="form.invalid" class="error">
            <small *ngIf="form.controls['gradeFinal'].errors?.max" class="d-block">
              Valoarea maxima este 10.</small>
            <small *ngIf="form.controls['gradeFinal'].errors?.min" class="d-block">
              Valoarea minima este 1.</small>
            <small *ngIf="form.controls['gradeFinal'].errors?.pattern" class="d-block">
              Pot fi introduse doar cifre.</small>
          </article>
        </div>
      </div>

    </form>
  </article>

  <!-- Send -->
  <article class="row section-padding mb-4">
    <div class="col-sm-3 col-md-2">
      <button mat-raised-button color="primary" [disabled]="isDisabled()" (click)="onSubmit()">Salveaza</button>
    </div>
  </article>

</section>
