<section class="container section-container shadow-sm mb-4">
    <!-- Header -->
    <article class="row section-header section-border">
      <div class="col-sm-6">
        <p class="section-info">Universitate:
          <span class="section-info-value">
            Universitatea Tehnica "Gh. Asachi" Iasi
          </span>
        </p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="section-info">Facultate:
          <span class="section-info-value">
            Automatica si Calculatoare
          </span>
        </p>
      </div>
    </article>
  
    <!-- Page Controls -->
    <article class="row section-border">
      <div class="col-sm-12">
        
      </div>
    </article>
  
    <!-- Content -->
    <article class="row ml-0 mr-0 pb-2 mb-4">
      <div class="col-sm-12">
       
      </div>
    </article>
  </section>