<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" class="gradeguard-logo">
    <span class="emphasis">Grade</span>guard
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-text-size pl-2 ml-4">
      <li class="nav-item ml-4">
        <a class="nav-link" routerLinkActive="active-link"
          [routerLink]="'/admin/' + AdminRoute[AdminView.SUBJECT]">
          Materii
        </a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLinkActive="active-link"
          [routerLink]="'/admin/' + AdminRoute[AdminView.PROFESSOR]">
          Profesori
        </a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLinkActive="active-link"
          [routerLink]="'/admin/' + AdminRoute[AdminView.STUDENT]">
          Studenti
        </a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-text-size pl-2 ml-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ userName }}
        </a>
        <div class="dropdown-menu dropdown-alignment" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
