<!-- Page Controls -->
<article class="row section-border">
  <div class="col-sm-12">
    <grd-admin-controls [adminView]="AdminView.PROFESSOR"></grd-admin-controls>
  </div>
</article>

<!-- Admin -- Students Table -->
<article class="row section-padding mb-5">
  <div class="col-sm-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Nume </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Prenume </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Materii </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let subject of element.subjectsTaught; let i = index">
            <span class="font-weight-bold">{{subject.acronym}} </span>
            <span class="text-secondary">(An. {{subject.yearOfStudy}},
              Sem. {{subject.semester}})</span>
            <span *ngIf="!(i === (element.subjectsTaught.length - 1))" class="text-secondary">, </span>
          </ng-container>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="editProfessor(element.id)">Edit</button>
          <button mat-button color="warn" (click)="removeProfessor(element.id)">Sterge</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</article>
