<section class="container section-container shadow-sm">
    <!-- Header -->
    <article class="row section-header section-border">
      <div class="col-sm-6">
        <p class="section-info">Universitate:
          <span class="section-info-value">
            Universitatea Tehnica "Gh. Asachi" Iasi
          </span>
        </p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="section-info">Facultate:
          <span class="section-info-value">
            Automatica si Calculatoare
          </span>
        </p>
      </div>
    </article>
  
    <!-- Content -->
    <router-outlet></router-outlet>
    
  </section>
  