<section class="container section-container shadow-sm mb-4">
  <!-- Header -->
  <article class="row section-header section-border">
    <div class="col-sm-6">
      <p class="section-info">Universitate:
        <span class="section-info-value">
          Universitatea Tehnica "Gh. Asachi" Iasi
        </span>
      </p>
    </div>
    <div class="col-sm-6 text-right">
      <p class="section-info">Facultate:
        <span class="section-info-value">
          Automatica si Calculatoare
        </span>
      </p>
    </div>
  </article>



  <!-- -------------- -->
  <!-- Professor View -->
  <form *ngIf="view === AdminView.PROFESSOR" [formGroup]="professorForm">

    <!-- Professor CRUD Operations -->
    <article class="row section-padding section-border pb-2 mb-4">
      <div class="col-sm-12">

        <!-- Professor Last Name -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Nume profesor" formControlName="lastName">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Professor First Name -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Prenume profesor" formControlName="firstName">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Professor Email -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Professor Password -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div *ngIf="this.actionMode === Mode.EDIT" class="row mb-2 form-small-print">
          <div class="col-sm-6 col-md-6">
            <small class="text-secondary">
              *Only supply password if admin wishes to change the current one.</small>
          </div>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Subject -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <mat-label>Materie predata</mat-label>
            <mat-select formControlName="subjectsIdList" multiple>
              <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
                {{ subject.acronym }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </article>

  </form>



  <!-- ------------ -->
  <!-- Student View -->
  <form *ngIf="view === AdminView.STUDENT" [formGroup]="studentForm">

    <!-- Student CRUD Operations -->
    <article class="row section-padding section-border pb-2 mb-4">
      <div class="col-sm-12">

        <!-- Student Last Name -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Nume student" formControlName="lastName">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Student First Name -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Prenume student" formControlName="firstName">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Student Email -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Student Password -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div *ngIf="this.actionMode === Mode.EDIT" class="row mb-2 form-small-print">
          <div class="col-sm-6 col-md-6">
            <small class="text-secondary">
              *Only supply password if admin wishes to change the current one.</small>
          </div>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Anul -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <mat-label>Anul</mat-label>
            <mat-select formControlName="yearOfStudy">
              <mat-option [value]="Year.I">
                {{ Year.I }}
              </mat-option>
              <mat-option [value]="Year.II">
                {{ Year.II }}
              </mat-option>
              <mat-option [value]="Year.III">
                {{ Year.III }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </article>

  </form>



  <!-- ------------ -->
  <!-- Subject View -->
  <form *ngIf="view === AdminView.SUBJECT" [formGroup]="subjectForm">

    <!-- Subject CRUD Operations -->
    <article class="row section-padding section-border pb-2 mb-4">
      <div class="col-sm-12">

        <!-- Subject Name -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Titlu materie" formControlName="name">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Subject Acronym -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <input matInput placeholder="Titlu materie" formControlName="acronym">
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Year Of Study -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <mat-label>Anul</mat-label>
            <mat-select formControlName="yearOfStudy">
              <mat-option [value]="Year.I">
                {{ Year.I }}
              </mat-option>
              <mat-option [value]="Year.II">
                {{ Year.II }}
              </mat-option>
              <mat-option [value]="Year.III">
                {{ Year.III }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="pb-1 mb-3"></mat-divider>

        <!-- Semester -->
        <div class="row mb-2">
          <mat-form-field class="col-sm-3 col-md-2">
            <mat-label>Semestrul</mat-label>
            <mat-select formControlName="semester">
              <mat-option [value]="Semester.I">
                {{ Semester.I }}
              </mat-option>
              <mat-option [value]="Semester.II">
                {{ Semester.II }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </article>

  </form>




  <!-- ---- -->
  <!-- Send -->
  <article class="row section-padding mb-4">
    <div class="col-sm-3 col-md-2">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isSubmitDisabled()">Salveaza</button>
    </div>
  </article>

</section>
