<div class="container pt-2 mt-3">
  <div class="row mb-2">

    <mat-form-field class="col-sm-3 col-md-2">
      <mat-label>Materia</mat-label>
      <mat-select [(ngModel)]="subjectSelected" (selectionChange)="changeSubjectFilter()">
        <mat-option *ngFor="let subject of subjectList" [value]="subject">
          {{ subject.acronym }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-sm-9 col-md-10 text-right">
        <button mat-raised-button color="primary"
          [routerLink]="['/profesor', 'note', {}]">
          <mat-icon aria-hidden="false" aria-label="add grade">add_circle_ou</mat-icon>
          <span class="ml-2">Adauga/Modifica Nota</span>
        </button>
    </div>

  </div>
</div>
