<div class="container pt-2 mt-3">
  <div class="row mb-2">

    <mat-form-field class="col-sm-3 col-md-2">
      <mat-label>Anul</mat-label>
      <mat-select>
        <mat-option [value]="Year.I" [disabled]="isYearDisabled(Year.I)">
          {{ Year.I }}
        </mat-option>
        <mat-option [value]="Year.II" [disabled]="isYearDisabled(Year.II)">
          {{ Year.II }}
        </mat-option>
        <mat-option [value]="Year.III" [disabled]="isYearDisabled(Year.III)">
          {{ Year.III }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-3 col-md-2">
      <mat-label>Semestrul</mat-label>
      <mat-select>
        <mat-option [value]="Semester.I" [disabled]="isSemDisabled(Semester.I)">
          {{ Semester.I }}
        </mat-option>
        <mat-option [value]="Semester.II" [disabled]="isSemDisabled(Semester.II)">
          {{ Semester.II }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="offset-sm-4 col-sm-2 offset-md-6 col-md-2 text-right">
        <button mat-raised-button color="primary">
          <mat-icon aria-hidden="false" aria-label="add grade">add_circle_ou</mat-icon>
          <span class="ml-2">Adauga Nota</span>
        </button>
    </div>

  </div>
</div>