<div class="container pt-2 mt-3">
  <div class="row mb-2">

    <mat-form-field class="col-sm-3 col-md-2">
      <mat-label>Anul</mat-label>
      <mat-select [(ngModel)]="yearOfStudy" (selectionChange)="changeStudentGradesFilter()">
        <mat-option [value]="YearOfStudy.I" [disabled]="isYearDisabled(YearOfStudy.I)">
          {{ YearOfStudy.I }}
        </mat-option>
        <mat-option [value]="YearOfStudy.II" [disabled]="isYearDisabled(YearOfStudy.II)">
          {{ YearOfStudy.II }}
        </mat-option>
        <mat-option [value]="YearOfStudy.III" [disabled]="isYearDisabled(YearOfStudy.III)">
          {{ YearOfStudy.III }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-3 col-md-2">
      <mat-label>Semestrul</mat-label>
      <mat-select [(ngModel)]="semester" (selectionChange)="changeStudentGradesFilter()">
        <mat-option [value]="Semester.I" [disabled]="isSemDisabled(Semester.I)">
          {{ Semester.I }}
        </mat-option>
        <mat-option [value]="Semester.II" [disabled]="isSemDisabled(Semester.II)">
          {{ Semester.II }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
