@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color: #673ab7;
$border-color: #e2e2e2;
$section-padding: 15px;

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #f2f2f2;
    font-size: 14px;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance:textfield;
    }
}

html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', sans-serif; }

table { width: 100%; }

.active-link {
    font-weight: 500;
    color: $primary-color !important;
}

.section-container {
    border: 1px solid $border-color;
    border-top: none;
    background-color: #ffffff;
}

.section-header {
    font-size: 12px;
    background-color: #ebebeb;
    padding: $section-padding;
    margin-bottom: 15px;
    .section-info {
        font-weight: 700;
        margin-bottom: 0;
        color: #888888;
        .section-info-value {
            font-weight: 400;
            color: #999999;
        }
    }
}

.section-border {
    border-bottom: 1px solid $border-color;
}

.section-padding {
    padding-left: $section-padding;
    padding-right: $section-padding;
}

.section-divider {
    border-color: $primary-color;
}

.table-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.form-small-print {
  margin-top: -15px;
}

.error {
  color: #ff0000;
  & > small:first-child {
    margin-top: -5px;
  }
}
