@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color: #673ab7;
$border-color: #e2e2e2;

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #f2f2f2;
    font-size: 14px;    
}

html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', sans-serif; }

table { width: 100%; }

.section-container {
    border: 1px solid $border-color;
    border-top: none;
    background-color: #ffffff;
}

.section-header {
    font-size: 12px;
    background-color: #ebebeb;
    padding: 15px;
    .section-info {
        font-weight: 700;
        margin-bottom: 0;
        color: #888888;
        .section-info-value {
            font-weight: 400;
            color: #999999;
        }
    }
}

.section-border {
    border-bottom: 1px solid $border-color;
}

.section-divider {
    border-color: $primary-color;
}

.table-margin {
    margin-left: 15px;
    margin-right: 15px;
}

